.courses {
    display: grid;
    grid-template-columns: repeat(auto-fill, 15rem);
}

.card-footer {
    object-fit: cover;
}

#selected {
    color: green;
    border-color: green;
    border-width: 0.1rem;
}