.schedule {
    display: block;
    visibility: hidden;
  }
  
  .schedule-show {
    visibility:visible;
    background-color: rgba(169, 169, 169, 0.8);
    transition: opacity 0.2s linear; 
  } 
  
  .schedule-content  {
    opacity: 0; 
  }
  
  .schedule-show .schedule-content  {
    opacity: 1; 
    transition: 0.2s linear; 
  }
  
  .schedule-header {
    margin-left: auto;
  }
  